body {
    background-image: url('Assets/Scene-2-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

  .penguin, .Teddy, .dialogue-box-penguin, .dialogue-box-Teddy, .dialogue1-box-penguin, .dialogue1-box-Teddy {
    display: none;
}

  #start-button:active {
    transform: scale(1.5);
  }
  #open-gift:active {
    transform: scale(1.3);
  }

  #start-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 1;
  }

  .penguin {
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 270px;
    height: auto;
    animation: slideInFromLeft 2s forwards;
  }

  .Teddy {
    position: absolute;
    bottom: 0;
    right: 80px; /* Align the right of the image with the right of the body */
    width: 350px;
    height: auto;
    animation: slideInFromRight 2s forwards;
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50px;
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 50px;
    opacity: 0.5; 
  }

  .dialogue-box-penguin {
    position: absolute;
    bottom: 250px;
    left: 300px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s forwards 2s;
  }

  .dialogue-box-Teddy {
    position: absolute;
    bottom: 350px;
    right: 300px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s forwards 4s;
  }

  .dialogue1-box-penguin {
    position: absolute;
    bottom: 250px;
    left: 300px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s forwards 11s;
  }

  .dialogue1-box-Teddy {
    position: absolute;
    bottom: 350px;
    right: 300px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 2s forwards 10s;
  }

  #open-gift {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 1;
  }

@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    to {
      opacity: 0.8;
    }
  }

  